.MuiGrid-root.MuiGrid-container.Layout-booleanEditors.css-11lq3yg-MuiGrid-root {
    display: none;
}

.MuiFormControl-root.MuiFormControl-marginNormal.MuiTextField-root.TextEditor-editor.Layout-notesEditor.css-1nifpm1-MuiFormControl-root-MuiTextField-root {
    display: none;
}


.MuiFormControl-root.MuiFormControl-marginNormal.MuiTextField-root.TextEditor-editor.css-1nifpm1-MuiFormControl-root-MuiTextField-root {
    display: none;
  }